// Default theme
$primary-color: #fece51;
$primary-color-light: #f7d48a;
$primary-color-dark: #f9b115;

$secondary-color: #fcf5f3;
$secondary-color-light: #f8f1f0;
$secondary-color-dark: #f4e9e7;

$background-color: #ffffff;
$background-color-light: #eeeded;
$background-color-dark: #000000;

$text-color: #000000;
$text-color-dark: #343a40;
$text-color-light: #6c757d;
$text-color-lighter: #f8f9fa;

// Dark theme
// $primary-color: #f9b115; // Adjusted from the primary dark for better contrast
// $primary-color-light: #fece51; // Using the original primary color for accents
// $primary-color-dark: #b37e00; // Darker shade for primary elements
// $secondary-color: #2e2e2e; // Dark grey for secondary elements
// $background-color: #121212; // Dark background
// $text-color: #f8f9fa; // Light text for readability
// $text-color-dark: #ffffff; // White for high contrast
// $text-color-light: #ced4da; // Light grey for less emphasis
// $text-color-lighter: #6c757d; // Original text light for further de-emphasis
// $background-color-light: #1e1e1e;
